services:
  nolongerevil:
    container_name: nolongerevil
    image: nolongerevil
    build: .
    restart: unless-stopped
    ports:
      - 80:80
      #-443:443
    environment:
      # This should be your server endpoint url
      - API_ORIGIN=http://192.168.13.1
      - PROXY_PORT=80
      - SQLITE3_ENABLED=true
      - SQLITE3_DB_PATH=./data/database.sqlite
      - ENTRY_KEY_TTL_SECONDS=3600
      - DEBUG_LOGGING=true
      - LOG_DIR=./data/logs
      # If you are running on port 443, the path below should be
      # the location of your certificates.
      - CERT_DIR=
    volumes:
      - nolongerevil-data:/app/data

volumes:
  nolongerevil-data: