services:
  nolongerevil:
    container_name: nolongerevil
    image: nolongerevil
    build: .
    restart: unless-stopped
    ports:
      - 80:80
      #-443:443
    environment:
      # This should be your server endpoint url
      - API_ORIGIN=http://192.168.13.1
      - PROXY_PORT=80
      - SQLITE3_ENABLED=true
      - SQLITE3_DB_PATH=./data/database.sqlite
      - ENTRY_KEY_TTL_SECONDS=3600
      - DEBUG_LOGGING=false
      - LOG_DIR=./data/logs
      # If you are running on port 443, the path below should be
      # the location of your certificates.
      - CERT_DIR=
      # If the below is populated, it will update your device to point
      # to the API_ORIGIN above. Can have multiple entries separated by
      # a comma.
      # Format should be : DEVICE_IP:DEVICE_ID
      # i.e. NEST_DEVICES=192.168.1.10:ABCDEFGHIJK
      - NEST_DEVICES=
      # If MQTT is enabled, NEST_DEVICES must be populated.
      - MQTT_ENABLED=
      - MQTT_SERVER_IP=
      - MQTT_SERVER_PORT=
      - MQTT_USERNAME=
      - MQTT_PASSWORD=
    volumes:
      - nolongerevil-data:/app/data

volumes:
  nolongerevil-data: